---
- name: Check if vault is reachable for dynamic config
  hosts: all
  connection: local
  gather_facts: false
  pre_tasks:
  - name: Check for vault env variables
    set_fact:
      has_vault: "{{ lookup('env', 'VAULT_ADDR') and lookup('env', 'VAULT_TOKEN') }}"
      TELEGRAF_TOKEN: "{{ lookup('env', 'TELEGRAF_TOKEN') }}"
  roles:
    - { role: roles/vault-config, when: has_vault }

- name: Basic setup for proxmox vm clients
  hosts: proxmox_nodes
  roles:
    # - role: roles/prox-telegraf-metrics
    - role: roles/prox-templates

